@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-main-clr);

  --bg-primary: #fff;
  --bg-second: #f1f1f1;
  --bg-input: #f5f5f5;
  --font-main-clr: #555;
  --font-second-clr: #777;
  --font-light-clr: #999;
  --category-clr: #3cc47c;
  --note-clr: #fff;
  --note-hover: rgb(249, 249, 249);
  --note-history-hover: #dfdfdf;
  --note-bg-complete: #f5f5f5;
  --note-txt-complete: #999;

  --color-btn: #0c73eb;
  --btn-hover: #0e7dfd;
  --icon-hover: #d9d6e4;

  --font-lrg: 1.2rem;
  --font-med: 1rem;
  --font-sml: 0.75rem;

  --border-gray: 2px solid #f1f1f1;
  --border-rad: 10px;
  --box-shd: 2px 3px 4px 2px rgba(119, 119, 119, 0.15);
  --box-hover: 2px 3px 4px 2px rgba(119, 119, 119, 0.23);
  --box-shd-btn: 2px 3px 2px 2px rgba(119, 119, 119, 0.23);
  --box-shd-btn-hov: 2px 3px 2px 2px rgba(119, 119, 119, 0.3);
  --input-outline: 2px solid #0e7dfd;
  --input-hover: 2px solid #0e7dfd;

  --trans-fast: all ease-in-out 0.2s;
  --trans-reg: all ease-in-out 0.3s;
  --trans-slow: all ease-in-out 0.4s;
}

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
  overflow-x: hidden;
}

h1 {
  padding-bottom: 2rem;
}

h5 {
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 5px;
  font-size: var(--font-med);
}

p {
  font-size: var(--font-sml);
}

select,
input,
textarea {
  transition: var(--trans-fast);
}

select:hover,
textarea:hover,
input:hover,
select:focus,
textarea:focus,
input:focus {
  border: var(--input-hover);
}

select option {
  padding: 10rem;
}

.note-search-mobile-header {
  display: none;
}

/* ------------------------------ Sidebar */

.sidebar {
  left: 0;
  top: 0;
  background-color: var(--bg-primary);
  border-right: var(--border-gray);
  min-height: 100vh;
  overflow-y: hidden;
}

.note-input {
  max-width: 100%;
  margin: 0 0 0.5rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note-input h1 {
  position: relative;
  z-index: 0;
}

.note-input h1::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 50%;
  background-color: rgba(22, 131, 255, 0.2);
  width: 140px;
  height: 40px;
  z-index: -1;
  transition: var(--trans-slow);
}

.note-input h1:hover::after {
  transform: scaleY(1.4);
}

.note-input input {
  width: 80%;
  padding: 0.5rem 0;
  background-color: var(--bg-primary);
  border: var(--border-gray);
  border-radius: var(--border-rad);
  margin-bottom: 1rem;
  font-size: var(--font-med);
  color: var(--font-main-clr);
  transition: var(--trans-fast);
  outline: none;
}

.note-input input,
.note-input textarea,
.note-input select,
.note-search input,
.note-input-select {
  background-color: var(--bg-second);
}

.note-input input:hover,
.note-input textarea:hover,
.note-input select:hover,
.note-search input:hover {
  border: var(--input-hover);
}
.note-input input:focus,
.note-input textarea:focus,
.note-input select:focus,
.note-search input:hover {
  border: var(--input-hover);
}

.note-input input::placeholder,
.note-input textarea::placeholder {
  color: var(--font-second-clr);
  padding-left: 10px;
}

.note-input textarea {
  width: 74%;
  padding: 0.4rem;
  font-size: var(--font-med);
  border-radius: var(--border-rad);
  border: var(--border-gray);
  outline: none;
  color: var(--font-main-clr);
  transition: var(--trans-fast);
}

.note-input select {
  margin-top: 1rem;
  width: 80%;
  border: var(--border-gray);
  outline: none;
  padding: 10px;
  border-radius: var(--border-rad);
  transition: var(--trans-fast);
}

.note-input-select {
  color: var(--font-main-clr);
}

.note-input-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.save-btn {
  font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  border: none;
  background-color: var(--color-btn);
  color: #fff;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  width: 80%;
  border-radius: var(--border-rad);
  cursor: pointer;
  font-size: var(--font-med);
  font-weight: 700;
  transition: var(--trans-fast);
}

.save-btn .plus {
  padding-right: 10px;
}

.save-btn:hover {
  background-color: var(--btn-hover);
  /* box-shadow: var(--box-shd-btn-hov); */
}

.note-history {
  overflow-y: scroll;
  max-height: 100vh;
  margin-top: 1rem;
}

.note-history-item {
  background-color: var(--bg-second);
  border-top: var(--border-gray);
  border-bottom: var(--border-gray);
  padding: 0.5rem;
  cursor: pointer;
}

.note-history-item h3 {
  font-size: var(--font-sml);
}

.note-history-item:hover {
  outline: 2px solid var(--color-btn);
}

.note-history-item:focus,
.note-history-item:active {
  border: 1px solid #c6fced;
}

.note-history-header {
  display: flex;
  justify-content: space-between;
}

/* ----------------------------------- Note Item  */

.notes-list {
  background-color: var(--bg-primary);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  gap: 0.5rem;
  margin-top: 2rem;
}

/* .note-search-mobile-header h1 {
  display: none;
  visibility: hidden;
} */

.note-search-container {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: var(--border-gray);
  box-shadow: 0px 3px 6px 0px rgba(119, 119, 119, 0.15);
}

.note-search input {
  padding: 0.5rem 0 0.5rem 10px;
  border-radius: var(--border-rad);
  border: none;
  border: var(--border-gray);
  transition: var(--trans-fast);
  outline: none;
}

.note-input-select {
  border: var(--border-gray);
  width: 250px;
  padding: 10px;
  border-radius: var(--border-rad);
  outline: none;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 200px;
  max-height: 175px;
  border-radius: var(--border-rad);
  padding: 1rem;
  margin: 1rem;
  background-color: var(--note-clr);
  color: var(--font-main-clr);
  cursor: pointer;
  transition: var(--trans-fast);
  box-shadow: var(--box-shd);
}

.note:hover {
  background-color: var(--note-hover);
  box-shadow: var(--box-hover);
}

.note p {
  color: var(--font-second-clr);
  font-size: var(--font-med);
}

.note-title-true {
  display: block;
}

.note-title-false {
  display: none;
}

.note-header {
  display: flex;
  justify-content: space-between;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-footer p {
  font-size: var(--font-sml);
  color: var(--font-light-clr);
}

.delete-btn,
.pin-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.pin-icon {
  z-index: -1;
  /* pointer-events: none; */
}

.complete-container {
  z-index: 2;
}

.delete-btn:hover,
.pin-icon:hover {
  background-color: var(--icon-hover);
}

.Important {
  color: #fc4a1a;
}

.Work {
  color: #f6c054;
}

.Personal {
  color: #5bca8f;
}

.School {
  color: #aa5aca;
}

.Home {
  color: #4999c7;
}

.note-complete {
  background-color: var(--bg-input);
  color: var(--note-text-complete);
  text-decoration: line-through;
}

.note-complete p,
.note-footer p,
.note-header-title {
  color: #999;
}

/* ---------------------Media Query */

@media (max-width: 1024px) {
  .note-search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .note-search-input,
  .note-search-category {
    width: 310px;
  }

  .note-search-input {
    width: 247px;
    margin-bottom: 1rem;
  }

  .notes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .note {
    margin: 0.5rem;
    padding: 0.75rem;
  }
}

@media (max-width: 820px) {
  .burger-icon {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    color: #0b64ca;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 1.5rem;
    transition: var(--trans-fast);
    z-index: 10;
  }

  .burger-icon:hover {
    color: #1076eb;
  }

  .App {
    display: grid;
    grid-template-columns: 35% 65%;
  }

  .sidebar {
    min-height: 70vh;
    /* max-width: 50%; */
    justify-content: center;
    align-items: flex-start;
  }

  .note-input {
    margin: 0.5rem;
    width: 80%;
  }

  .note-input h1 {
    margin-right: auto;
    margin-left: 0;
  }

  .note-input input,
  .note-input textarea,
  .note-input select {
    width: 100%;
    padding: 10px;
  }

  .save-btn {
    width: 100%;
  }

  .note-history {
    display: none;
  }

  .notes-list {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
  }

  .note-search-container {
    padding: 1rem;
  }

  .note {
    min-width: 150px;
  }
}

@media (max-width: 600px) {
  .notes-list {
    display: grid;
    grid-template-columns: 1fr;
  }
  .note-search-mobile-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 45px;
    margin-bottom: 2rem;
  }

  .note-search-mobile-header h1 {
    background-color: rgba(22, 131, 255, 0.2);
    padding: 3px 3px 0 3px;
  }
}

@media (max-width: 550px) {
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
  }

  .notes-list-container {
    width: 100vw;
  }

  .note-search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    max-width: 90vw;
  }

  .note-search input,
  .note-search-category {
    max-width: 100%;
    width: 80%;
    margin: 1rem auto;
  }

  .note-search-mobile-header {
    width: 100%;
  }

  .note-search-category {
    width: 82%;
  }

  .sidebar {
    position: absolute;
    top: 10%;
    left: 0;
    transition: var(--trans-slow);
    transform: translateX(-115%);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 75px 30px rgba(59, 59, 59, 0.25);
  }

  .note-input {
    margin: 0.5rem 0.5rem 0.5rem 1.5rem;
  }

  .openSidebar {
    transform: translateX(0);
  }
}

@media (max-width: 365px) {
  .sidebar {
    top: 12%;
  }
}
